<!doctype html>
<html>
  <head>
    <title>Planning Poker 🃏</title>
  </head>
  <body>
    <div style="text-align: center;">
      <div style="width: 500px; margin: 0 auto;">
        <h1>Planning Poker 🃏</h1>
    	<p>
	  <form action="/session">
		<button type="submit">New Session</button>
	  </form>
	</p>
      </div>
    </div>
    <div style="text-align:center; padding: 20px;"><a href="https://github.com/knusbaum/ploker">[Source]</a></div>
  </body>
</html>
