<div style="text-align: center;">
  <div style="width: 100%; margin: 0 auto;">
    <h1>Planning Poker</h1>
    <h3>Enter your name to join the session</h3>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"/>
      <button onclick="startploker()" >Start</button>
    </form>
  </div>
</div>
